*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
.header{

padding: 15px 0;
}
.top_header{

justify-content: space-between;
}
.logo{

}
.icon{

font-size: 33px;

margin-right: 8px;

color: #f69165;
}
.icon i{

}
.info{

}
.info h3{

font-size: 18px;

color: #363636;
}
.info p{

font-size: 14px;

color: #a0a0a0;
}
.header_info{

padding: 0;

display: flex;

justify-content: space-between;
}
.info_box{
    
display: flex;
    
align-items: center;
}
header{

background: #00cce1;
}
.main_header{

}
.btn_appointment{
    clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
text-transform: uppercase;

color: #fff;

background: #f69165;

border-radius: 0;

padding: 0;

padding: 15px 25px;
letter-spacing: 0;
transition: .3s all ease-in-out;
}
.btn_appointment i{

margin-right: 7px;
}
.nav-link{

color: #fff;

text-transform: uppercase;
}
.nav-link:hover{
    color: #fff;
}
.nav-item{
    position: relative;
padding: 8px 0;
z-index: 0;

}
.navbar{
    
padding: 0;
}
.btn_appointment:hover{
    color: #fff;
    letter-spacing: 1px;
    background: #cb6e47;  
}
.nav-item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #f69165;
    z-index: -1;
    transition: .3s all ease-in-out;
}
.nav-item:hover::after{
    height: 100%;
}

.banner_section{
    background-image: url(../image/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner{
    align-items: center;
    min-height: 80vh;
}
.banner_info{

}
.banner_section h3{

padding: 4px;

text-transform: uppercase;

background: #00cce1;

color: #fff;

display: inline-block;
}
.banner_section h1{

padding: 4px;

text-transform: uppercase;

background: #f69165;

color: #fff;

display: inline-block;

margin: 10px 0;
}
.banner_section p{
    color: #636363;
    margin-bottom: 30px;
}
.btn_learn{

padding: 0;

padding: 10px 25px;

background: #f69165;

border-radius: 0;

text-transform: uppercase;

color: #fff;

margin-right: 10px;

font-size: 15px;
}
.btn_learn:hover{
    background: #bc6743;
    color: #fff;
}
.btn_book{

padding: 0;

padding: 10px 25px;

background: #00cce1;

border-radius: 0;

text-transform: uppercase;

color: #fff;

font-size: 15px;
}
.btn_book:hover{
    background: #06b0c3;
    color: #fff;
}
.banner-img1{position: absolute;bottom: 0;width: 40%;right: 2%;}
.banner_img{
    
}



